@charset "utf-8";
/*
em html é id = em CSS é #(so pode um elemento)
em html é class = em css é .(pode vários elementos)
*/
body{
    background-color: rgba(180, 231, 231, 0.984);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(12, 67, 67) ;
}
#principal{color: rgba(254, 254, 254, 0.899);
text-align: center;
background-color: rgb(1, 20, 14);}
h2{
    color: rgb(5, 100, 100);
}
.básico{color: rgb(1, 23, 5);

}
.intermediário{color: rgb(169, 196, 15);
}
.avançado{color: rgb(100, 5, 5);

}