@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Kaushan+Script&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');

@font-face{
    font-family: 'android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root{
   --cor1: #b3dcdc;
   --cor2: #006494;
   --cor3: #247BA0;
   --cor4: #1B98E0;
   --cor5: #1c3750;
    --cor6:#0e1f2f;

--font-padrão: arial, verdana, helvetica, sans-serif;
--fonte-destaque: 'bebas neue', 'cursive';
--font--android: 'android' , 'cursive';
}

body{
    background-color: #b3dcdc;
    font-family: var(--font-padrão);
    
}

a.externo::after {
content:'\1F517';
}
*{
    padding: 0%;
    margin: 0%;
}

header{
   background-image: linear-gradient( to bottom, var(--cor3), var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding top: 40px;
}
header > h1{
   text-shadow: 2px 2px 0px black;
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
}

header p{
    color: white;
    font-family: var(--font-padrão);
    font-size: 1.2em;
}
nav{
    background-color: #0e1f2f;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.699) ;
    
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 1s;
    font-weight: bold;
    
}
nav > a:hover{
    background-color:#1B98E0 ;
    color: white;
}
main{
    margin-bottom: 50px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.519);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
main p{
    margin: 15px, 0px;
    text-indent: 30px;
    line-height: 2em;
    text-align: justify;
}
main h1{
    color: #006494;
    font-family: var(--font--android);

}
main h2{
    color: white;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-family: var(--font--android);
    text-indent: 8px;
}
main a{

    text-decoration: none;
}

 main a:hover{
    background-color: #006494;
    color: white;
        text-decoration: underline;
 }

aside h3{
    color: #247BA0;
}

main img{
    display: block;
    margin: auto;
}
aside{
    background-color:#71b4db;
    border-radius: 10px;
    padding: 10px;
    
}
aside > h3{
    color: #dadfe3;
    background-color: #1b5679;
    padding: 10px;
    border-radius: 10px, 10px, 0;
    margin: -10px -10px 0px -10px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
 
footer{
text-align: center;
    background-color: #0e1f2f;
    color: white;
padding: 8px;
margin: auto;
}
    
    footer a{
        color: rgb(154, 198, 233);
        padding: 5px;
    }
    
 
.video iframe { position: relative; width: 100%; max-width: 100%; background-color: #71b4db;  padding: 10px 5px 10px 10px }
@media (max-width: 300px) { main { overflow: hidden; } }
